@charset "utf-8";

/*////////////////////////////////////////////////////////

sentimental/css/style.css

/////////////////////////////////////////////////////////*/
/* ----------------------------------------------- 
	

 ----------------------------------------------- */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flexslider a{    color: #FFF;}

/* Icon Fonts
*********************************/
/* Font-face Icons */


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0 ; padding: 0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
.slides{margin-bottom: 1em;}

/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative;zoom: 1; margin:0 auto 1em auto;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {position: relative;margin: 0 auto 1em auto;height: 60px;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 51px; height: 51px;  z-index: 10; overflow: hidden; cursor: pointer;}
.flex-direction-nav li{position: absolute;top: 0;}

.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px;text-align: right;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: ' ';height: 51px;width: 51px;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 5px;text-align: right;}

.flex-direction-nav a {cursor: pointer;color: rgb(255 255 255 / 0%);}
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

.flex-next:before {background: url(../img/top_slider_next.png) no-repeat 0 0;}
.flex-prev:before {background: url(../img/top_slider_prev.png) no-repeat 0 0;}

.flex-direction-nav li:nth-child(odd){margin:0 1em;left: 0;}
.flex-direction-nav li:nth-child(even){margin:0 1em;right:0;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 25px; text-align: center;}
.flex-control-nav li {margin: 0 6px !important; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 20px; height: 20px; display: block; background: #c3e8f5; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px;}
.flex-control-paging li a:hover { background:#c3e8f5;}
.flex-control-paging li a.flex-active { background: #6fcbeb; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 600px) {
.flex-direction-nav a:before{height: 41px;width: 41px;opacity: .8;}
.flex-prev:before{background-size: contain;}
.flex-next:before{background-size: contain;}
.flex-control-paging li a {width: 10px; height: 10px;}
.flex-direction-nav a{height: 41px;width: 41px;}
}

@media screen and (max-width: 500px) {
.flex-direction-nav a:before{height: 31px;width: 31px;}
.flex-control-paging li a {width: 10px; height: 10px;}
.flex-direction-nav a{height: 31px;width: 31px;}
}